#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 12vh;
    /* position: sticky;
    top: 0; */
    /* background-color: antiquewhite; */
}

#navbar #logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3vw;
    padding: 1vw;
    /* background-color: blanchedalmond; */
}

#navbar #logo h2 a {
    text-decoration: none;
    color: white;
    font-size: 2.3vw;
}

#navbar #logo h2 .active {
    text-decoration: underline;
}

#navbar #logo #toggle {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.3vw;
    margin: 0 1vw;
    background-color: white;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
}

#navbar #logo #toggle:hover {
    box-shadow: 0.1vw 0.1vw 0.5vw rgb(165, 164, 164);
}

#navbar #logo #toggle span {
    width: 2.2vw;
    height: 0.5vw;
    margin: 0.2vw 0;
    background-color: black;
    border: none;
    border-radius: 0.5vw;
}

#navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3vw;
}

#navbar ul li {
    list-style: none;
    margin-left: 1vw;
}

#navbar ul li .active {
    font-size: 2.1rem;
    color: rgb(207, 207, 207);
}

#navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.9vw;
    font-weight: bold;
}

#navbar ul li a:hover {
    text-shadow: 0.2vw 0.2vw 1vw white;
    /* transition: all ease-in-out 0.4s; */
}

/* #navbar ul li a {
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.9vw;
    font-weight: bold;
    padding: 0.2vw 0.5vw;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    text-decoration: none;
}

#navbar ul li a::before {
    content: '';
    background: linear-gradient(45deg, white, grey, whitesmoke, wheat, rgb(255, 251, 215), rgb(211, 255, 255), rgb(203, 255, 238), rgb(253, 244, 191), rgb(232, 247, 210));
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#navbar ul li a:active {
    color: #000
}

#navbar ul li a:active:after {
    background: transparent;
}

#navbar ul li a:hover:before {
    opacity: 1;
}

#navbar ul li a:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
} */

/* Media Queries */

@media only screen and (max-width: 480px) {

    #navbar {
        flex-direction: column;
    }

    #navbar #logo {
        margin-bottom: 1vh;
        margin-left: 0;
        /* background-color: blanchedalmond; */
    }

    #navbar #logo h2 a {
        font-size: 5vw;
    }

    #navbar #logo #toggle {
        display: flex;
        border-radius: 1vw;
        margin-left: 2vw;
        padding: 0.7vw;
        border-radius: 1.5vw;
    }

    #navbar #logo #toggle:hover {
        box-shadow: 0.1vw 0.1vw 0.5vw rgb(165, 164, 164);
    }
    
    #navbar #logo #toggle span {
        width: 7vw;
        height: 1.6vw;
        margin: 0.35vw 0;
        background-color: black;
        border-radius: 1vw;
    }

    #navbar ul {
        display: none;
        width: 100%;
        padding: 2vw;
        border-top: 0.5vw solid white;
        border-bottom: 0.5vw solid white;
        justify-content: space-evenly;
        margin-bottom: 2vh;
        /* background-color: rgb(49, 33, 8); */
    }

    #navbar ul li {
        margin: 0;
    }

    #navbar ul li .active {
        font-size: 1.5rem;
    }

    #navbar ul li a {
        font-size: 3.5vw;
    }

    #navbar ul li a:hover {
        text-shadow: 0.5vw 0.5vw 2vw white;
    }

}

@media only screen and (min-width: 481px) and (max-width: 768px) {

    #navbar {
        flex-direction: column;
    }

    #navbar #logo {
        margin-bottom: 1vh;
        margin-left: 0;
        /* background-color: blanchedalmond; */
    }

    #navbar #logo h2 a {
        font-size: 4.5vw;
    }

    #navbar #logo #toggle {
        display: flex;
        border-radius: 1vw;
        margin-left: 2vw;
        padding: 0.6vw;
        border-radius: 1.5vw;
    }

    #navbar #logo #toggle:hover {
        box-shadow: 0.1vw 0.1vw 0.5vw rgb(165, 164, 164);
    }
    
    #navbar #logo #toggle span {
        width: 6vw;
        height: 1.4vw;
        margin: 0.3vw 0;
        background-color: black;
        border-radius: 1vw;
    }

    #navbar ul {
        display: none;
        width: 100%;
        padding: 2vw;
        margin-bottom: 2vh;
        border-top: 0.5vw solid white;
        border-bottom: 0.5vw solid white;
        justify-content: space-evenly;
        /* background-color: rgb(49, 33, 8); */
    }

    #navbar ul li {
        margin: 0;
    }

    #navbar ul li .active {
        font-size: 1.5rem;
    }

    #navbar ul li a {
        font-size: 3vw;
    }

    #navbar ul li a:hover {
        font-size: 1.5rem;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    #navbar #logo h2 a {
        font-size: 2.5vw;
    }

    #navbar ul li {
        margin-left: 2vw;
    }

    #navbar ul li .active {
        font-size: 1.4rem;
    }

    #navbar ul li a {
        font-size: 2vw;
    }

    #navbar ul li a:hover {
        font-size: 1.4rem;
    }

}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {

    #navbar ul li .active {
        font-size: 1.5rem;
    }

    #navbar ul li a:hover {
        font-size: 1.5rem;
    }

}