#contact {
    min-height: 70vh;
    width: 40%;
    margin: auto;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: beige; */
}

#contact form {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    /* background-color: cadetblue; */
}

::placeholder {
    color: white;
}

#contact form input, #contact form textarea {
    outline: none;
    padding: 1vw;
    color: white;
    font-size: 1.5vw;
    margin-bottom: 1.5vh;
    border: 0.2vw solid white;
    border-radius: 0.7vw;
    background: transparent;
    box-shadow: 0.1vw 0.1vw 1.5vw rgb(184, 181, 181);
}

#contact form #submit {
    display: flex;
    justify-content: flex-end;
}

#contact form button {
    outline: none;
    font-size: 1.5vw;
    /* margin-right: 0.5vw; */
    padding: 0.5vw 1vw;
    border: 0.2vw solid white;
    border-radius: 0.7vw;
    background: transparent;
    color: white;
    cursor: pointer;
}

#contact form button:hover {
    background-color: #0e76a8;
}

/* #contact h1 {
    color: white;
    font-size: 4vw;
    margin-bottom: 3vh;
}

#contact ul {
    min-width: 60%;
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
}

#contact ul li {
    margin-bottom: 1vh;
    list-style: none;
}

#contact ul li a {
    text-decoration: none;
}

#contact ul li a button {
    width: 100%;
    padding: 0.4vw 1vw;
    font-size: 2.5vw;
    color: white;
    border: 0.2vw solid white;
    border-radius: 1vw;
    cursor: pointer;
}

#contact ul li a #linkedIn {
    background-color: #0e76a8;
} 

#contact ul li a #linkedIn:hover {
    background-color: #0a638d;
} 

#contact ul li a #github {
    background-color: #171515;
} 

#contact ul li a #github:hover {
    background-color: #2e2d2d;
} 

#contact ul li a #facebook {
    background-color: #4267B2;
} 

#contact ul li a #facebook:hover {
    background-color: #375592;
} 

#contact ul li a #instagram {
    background-color: #8a3ab9;
} 

#contact ul li a #instagram:hover {
    background-color: #7933a1;
}  */

/* Media Queries */

@media only screen and (max-width: 480px) {

    #contact {
        min-height: 60vh;
        width: 80%;
        /* background-color: beige; */
    }

    #contact form {
        min-width: 50%;
        /* background-color: cadetblue; */
    }
    
    #contact form input, #contact form textarea {
        padding: 2vw;
        font-size: 4vw;
        border: 0.3vw solid white;
        border-radius: 2vw;
        box-shadow: 0.2vw 0.2vw 4vw rgb(184, 181, 181);
    }
    
    #contact form button {
        font-size: 4vw;
        padding: 1.5vw 3vw;
        border: 0.3vw solid white;
        border-radius: 1.8vw;
    }

    /* #contact h1 {
        font-size: 10vw;
        margin-bottom: 2vh;
    }

    #contact ul {
        min-width: 80%;
        background-color: cadetblue;
    }
    
    #contact ul li a button {
        width: 100%;
        padding: 1.5vw 2vw;
        font-size: 6vw;
        border: 0.4vw solid white;
        border-radius: 2vw;
    } */

}

@media only screen and (min-width: 481px) and (max-width: 768px) {

    #contact {
        min-height: 65vh;
        width: 70%;
        /* background-color: beige; */
    }
    
    #contact form input, #contact form textarea {
        padding: 2vw;
        font-size: 3vw;
        border: 0.3vw solid white;
        border-radius: 2vw;
        box-shadow: 0.2vw 0.2vw 3vw rgb(184, 181, 181);
    }
    
    #contact form button {
        font-size: 3vw;
        padding: 1.5vw 3vw;
        border: 0.3vw solid white;
        border-radius: 1.8vw;
    }

    /* #contact h1 {
        font-size: 8vw;
        margin-bottom: 2vh;
    }

    #contact ul {
        min-width: 75%;
        background-color: cadetblue;
    }
    
    #contact ul li a button {
        width: 100%;
        padding: 1.5vw 2vw;
        font-size: 4vw;
        border: 0.4vw solid white;
        border-radius: 2vw;
    } */

}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    #contact {
        width: 60%;
        /* background-color: beige; */
    }
    
    #contact form input, #contact form textarea {
        padding: 1.2vw;
        font-size: 1.7vw;
        border: 0.3vw solid white;
        border-radius: 1.2vw;
        box-shadow: 0.2vw 0.2vw 2vw rgb(184, 181, 181);
    }
    
    #contact form button {
        font-size: 1.7vw;
        padding: 0.7vw 1vw;
        border-radius: 1vw;
    }

    /* #contact h1 {
        font-size: 4.5vw;
        margin-bottom: 2.5vh;
    }

    #contact ul {
        min-width: 47%;
        background-color: cadetblue;
    }
    
    #contact ul li a button {
        padding: 0.5vw 1vw;
        font-size: 2.7vw;
        border: 0.25vw solid white;
        border-radius: 1.2vw;
    } */

}